Host CloudCourse_VM_Group_5
  HostName 34.251.148.96
  User ubuntu
  Port 22
  IdentityFile C:\Users\magnu\Documents\Cloud_computing\group\group5\ssh_key_5

Host 34.244.35.36
  HostName 34.244.35.36
  IdentityFile C:\Users\magnu\Documents\Cloud_computing\client36\ssh_key_36
  User ubuntu
